.cards
{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(225px, 1fr));
    gap : 20px;
    font-family: "Raleway";
}

.card
{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}

.card__image
{
    width : 100%;
    height: 60%;

    position: relative;
    overflow: hidden;

    display: block;
}

.card__image img
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%; 
}


.card__content
{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;

}

.card__content > h3 p:first-of-type
{
    margin-top: 0;
}

.card__content > h3 p:last-of-type
{
    margin-bottom: 0;
}

.card__info
{
    padding: 15px;
    background: #eeeeee;
    font-size: 00.8em;
    border-bottom: 2px solid #cccccc;
}