* /* suppretion de la marge par défault de tout les éléments*/
{
    margin : 0; 
    padding : 0; 

    box-sizing: border-box;
}

/*Polices de la page*/

h1
{
    font-size: 1.2em;
    font-weight: bold;
}

h2
{
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 15px;
}

h3
{
    font-size: 0.8em;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

/*Eléments principaux de la page*/

body
{
    background-color: white;
    color:black;
    font-family: Raleway;
}


#bloc-page
{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    padding: 0 20px 20px 20px;
}




ul
{
    list-style-type: none;
}



#logo
{
    width: 100px;
	height: auto;
}

header
{   
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapper-logo
{
    margin-right: auto;
}

/*Bandeau infos*/

.bandeau-infos
{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.bandeau-infos p
{
    padding-left: 15px;
}

.logo-infos
{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 2px  #F2F2F2 solid;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    color: #0065FC;
}


/*Articles*/

.main-section
{
    display: flex; 
    height: 570px;
   
}

.hébergements-wrapper
{
    width: 65%;
    padding-right: 20px;
    margin-bottom: -30px;
}

#hébergements
{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding : 20px 30px;
}




.cards-hébergement
{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    margin-left: -10px;
    margin-right: -10px;
}

.card-hébergement-wrapper
{
    padding: 10px;
    width: 33.333%;

    max-width: 300px;
    min-width: 230px;

}
.card-hébergement
{
    width: 100%;

    background: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card-hébergement a
{
    display: block;
    width: 100%;  
}

.card-hébergement__image
{
    border-top: 4px white solid;
    border-left: 4px white solid;
    border-right: 4px white solid;

    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /*le width: 100% est juste sur la boite (sans les bordures...)*/
    
    width: 100%;
    height: 130px;
    background-size: cover;
    background-position: 50%;
}

.card__content
{
    font-size: 0.9em;
    width: 100%;
    height: auto;
    
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 7px ;
}

.card__content h3
{
    font-size: 1.1em;
    margin-bottom: 7px;
}

.card__info
{
    display: flex;
    padding-left: 14px;
    padding-bottom: 7px;
}

.starblue
{
    color: #0065FC;
    font-size: 0.8em;
}
.stargrey
{
    color:#F2F2F2;
    font-size: 0.8em;
}


#Afficher-plus
{
    font-weight: bold;
    padding-top: 30px;
}

#populaires
{
    background-color: #F2F2F2;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.populaires-wrapper
{
    width: 35%;
    margin-bottom: -30px;
    padding-left: 20px;
}

.card-populaires-wrapper
{
    margin-bottom: 20px;
}

.populaires-head
{
    display: flex;
    justify-content: space-between;
}

.populaires-head h2
{
    padding-bottom: 25px;
}

.card-populaires
{
    background: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.card-populaires a
{
    display: flex;
    min-height: 150px;
}

.card-populaires__image
{
    border-top: 7px white solid;
    border-left: 7px white solid;
    border-bottom: 7px white solid;

    width: 40%;
    min-width: 40%;
    background-size: cover;
    background-position: 50%;

    border-radius: 25px 0 0 25px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /*le width: 100% est juste sur la boite (sans les bordures...)*/
}

.textedroit
{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activités
{
   padding-top: 70px;
}

.cards-activités
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    height: 446px;

    margin-left: -10px;
    margin-right: -10px;
}

.card-activités-wrapper
{
    width: 25%;

    padding-left: 10px;
    padding-right: 10px;

}

.card-activités
{
    width: 100%;
    background: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card-activités a, .card-activités-small a
{
    display: block;
}

.card-activités-small
{
    width: 100%;
    height: 100%;

    background: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card-activités-small__image
{
    border-radius: 25px 25px 0 0;
    width: 100%;
    min-height: 165px;
    background-size: cover;
    background-position: 50%;
}


.card-activités__image
{ 
    border-radius: 25px 25px 0 0;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: 50%;
}

.card-activités__image img
{
    object-fit: cover;
}

/* Rechercher */

.zone-recherche
{
    display: flex;
    padding: 20px 0 30px 0;
}

.logo-recherche
{
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 10px;

    border : 2px #F2F2F2 solid; 
}

.recherche
{
    font-weight: bold;
    padding-left: 2px;
    padding: 10px;
    outline-style:none;

    border : 2px #F2F2F2 solid;
    border-right: 0px;
}

.bouton-recherche
{
    font-weight: bold;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    color: white;
    border: 0px;
    padding: 10px;
    outline-style:none 
}

.icon-search
{
    font-size: 0;
}

/*Filtre*/

.zone-filtre
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 0 0 40px 0;
}
.etiquette
{
    display: flex;
    align-items: center;

    background-color: white;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
    border-left: 0px;
    height: 40px;

    outline-style:none
}

.etiquette:hover
{
    background-color: #DEEBFF;
    border-color: #DEEBFF;

}

.cercle
{
    width: 38px;
    height: 38px;
    border-radius: 20px;
    background: #DEEBFF;
    border: 2px  #DEEBFF solid;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cercle-icone
{
    font-size: 17px;
    color: #0065FC;
}

.type-etiquette
{
    padding: 10px 20px 10px 10px;
    font-weight: bold ;
}



/* Navigation*/


#menu 
{
    display: flex;
}

#menu li a
{
    padding-top : 30px;
    padding-bottom: 30px;
    padding-left: 18px;
    padding-right: 18px;
    display : block;
    border-top: 2px transparent solid;
    
}

#menu li a:hover 
{
    border-top: 2px #0065FC solid;
    color: #0065FC;
}


#inscription
{
    font-weight: bold;
    color: #0065FC;
    padding-right: 0px;
    padding-left: 18px;
}

.menu-et-inscription
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Footer*/

.size-footer
{
    width: 1440px;
    margin-top: 30px;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F2F2F2;
    margin-left: -20px;
    padding-left: 20px;
    
}

footer li
{
    padding-top: 10px;
}

footer h3
{
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 10px;
}


#A-propos
{
    margin-left: 20px;
    width: 33%;
}

#Nos-hébergements
{
    width: 33%;
}

#Assistance
{
    width: 33%;
}


/* Tablettes */
    @media (max-width: 768px)
    {
    body
    {
        max-width: 768px;
    }

    #bloc-page
    {
        width: 100%;
        padding: 20px 0;
    }

/* header */
    header
    {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        padding-top: 20px;
    }

    .wrapper-logo
    {
        order: 1;
        margin: 0;

        padding-left: 20px;
    }

    .inscription
    {
        order: 2;

        padding-right: 20px;
    }


    .zone-filtre
    {
        flex-wrap: wrap;
    }

    .wrapper-menu
    {
        order: 3;
        width: 100%;
    }


/* Navigation*/


    #menu li
    {
        width: 50%;
    }

    #menu li a
    {
        padding-top : 30px;
        padding-bottom: 30px;
        padding-left: 18px;
        padding-right: 18px;
        display : block;
        border-top: 2px transparent solid;

        display: flex;
        justify-content: center;   
    }

    #menu li a:hover 
    {
        border-top: 0;
        border-bottom: 2px #0065FC solid;
        color: #0065FC;
        border-top: 2px white solid;
        height: 79px;
    }

    #inscription
    {
        font-weight: bold;
        color: #0065FC;
        padding-right: 0px;
        padding-left: 18px;
    }

    .menu-et-inscription
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .texte-intro
    {
        padding: 20px;
    }

    /* Rechercher */

    .wrapper-recherche
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }

/*Bandeau infos*/

    .bandeau-infos
    {
        padding-left: 20px;
        padding-right: 20px;
    }


/* Zonefilre */
    .zone-filtre
    {
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
    }

    .zone-filtre h3
    {
        width: 100%;
        padding-bottom: 10px;
    }

    .etiquette
    {
        width: auto;
        margin-bottom: 10px;
        margin-right: 10px;
    }

/* cards */

    .all-cards-zone
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        width: 100%;
    }

    .main-section
    {
        width: 100%;
        height: auto;
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
    
    }


    
    #hébergements
    {
        background-color: white;
    }

    .hébergements-wrapper
    {
        width: 100%;
        padding-bottom: 20px;
        order: 2;
        padding-right: 0;
    }
    
    .card-hébergement-wrapper
    {
        padding: 10px;
        width: 50%;

        max-width: 100%;
        min-width: 250px;
    }

    .card-hébergement__image img
    {
        width: 100%;
        height: 200px;
    }

    #populaires
    {
        border-radius: 0;
    }

    .populaires-wrapper
    {
        width: 100%;
        height: 100%;
        order: 1;
        padding: 0;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .card-populaires-wrapper
    {
        margin-bottom: 20px;
    }

    .populaires-head
    {
        display: flex;
        justify-content: space-between;
    }

    .card-populaires
    {
        background: white;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
    }

    .card-populaires a
    {
        min-height: 160px;
    }


    .card-populaires__image
    {
        border-top: 7px white solid;
        border-left: 7px white solid;
        border-bottom: 7px white solid;

        background-size: cover;

        
        max-width: 40%;

        border-radius: 25px 0 0 25px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        box-sizing: border-box; /*le width: 100% est juste sur la boite (sans les bordures...)*/
    }

    .card-populaires__image img
    {
        width: 100%;
        height: auto;
    }


    .textedroit-media
    {
        padding: 10px;
    }

    #activités
    {
    padding: 20px;
    width: 100%;
    }


    .cards-activités
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin: 0;
    }

    .card-activités-wrapper
    {
        width: 50%;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-activités
        {   
        width: 100%;
    

        background: white;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        }

    .card-activités-small
    {
        width: 100%;

        background: white;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }

    .card-activités-small__image
    {
        border-radius: 25px 25px 0 0;
        width: 100%;
        min-height: 130px;
        background-size: cover;
        background-position: 50%;
    }
    
    
    .card-activités__image
    { 
        border-radius: 25px 25px 0 0;
        width: 100%;
        min-height: 130px;
        background-size: cover;
        background-position: 50%;
    }

/* Footer */
    .size-footer
    {
        flex-wrap: wrap;
        width: 100%;
        padding-top: 20px;
    }

    #A-propos
    {
        width: 33.333%;
        padding: 20px;
        margin-left: 0;
    }

    #Nos-hébergements
    {
        width: 33.333%;
        padding: 20px;
    }

    #Assistance
    {
        width: 33.333%;
        padding: 20px;
    }
}

/* Smartphone */
@media (max-width: 544px)
{
    body
    {
        max-width: 544px;
    }

    #bloc-page
    {
        width: 100%;
        padding: 20px 0;
    }

/* header */
    header
    {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        padding-top: 20px;
    }

    .wrapper-logo
    {
        order: 1;
        margin: 0;

        padding-left: 20px;
    }

    .inscription
    {
        order: 2;

        padding-right: 20px;
    }


    .zone-filtre
    {
        flex-wrap: wrap;
    }

    .wrapper-menu
    {
        order: 3;
        width: 100%;
    }


    /* Navigation*/


    #menu li
    {
        width: 50%;
    }

    #menu li a
    {
        padding-top : 30px;
        padding-bottom: 30px;
        padding-left: 18px;
        padding-right: 18px;
        display : block;
        border-top: 2px transparent solid;

        display: flex;
        justify-content: center;   
    }

    #inscription
    {
        font-weight: bold;
        color: #0065FC;
        padding-right: 0px;
        padding-left: 18px;
    }

    .menu-et-inscription
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .texte-intro
    {
        padding: 20px;
    }

    /* Rechercher */

    .wrapper-recherche
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .bouton-recherche
    {
    margin-left: -10px;
    padding: 10px 12px;
    }

    .icon-search
    {
    font-size: 1.2em;
    font-weight: 900;
    }

    .text-search
    {
        font-size: 0;
    }

    /*Bandeau infos*/

    .bandeau-infos
    {
        padding-left: 20px;
        padding-right: 20px;
    }


    /* Zonefilre */
    .zone-filtre
    {
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
    }

    .zone-filtre h3
    {
        width: 100%;
        padding-bottom: 10px;
    }

    .etiquette
    {
        width: auto;
        margin-bottom: 10px;
        margin-right: 10px;
    }

/* cards */

    .all-cards-zone
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        width: 100%;
    }

    .main-section
    {
        width: 100%;
        height: auto;
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
    
    }


    
    #hébergements
    {
        background-color: white;
    }

    .hébergements-wrapper
    {
        width: 100%;
        padding-bottom: 20px;
        order: 2;
        padding-right: 0;
    }
    
    .card-hébergement-wrapper
    {
        padding: 10px;
        width: 100%;

        max-width: 100%;
        min-width: 250px;
    }

    .card-hébergement__image img
    {
        width: 100%;
        height: 200px;
    }

    #populaires
    {
        border-radius: 0;
    }

    .populaires-wrapper
    {
        width: 100%;
        height: 100%;
        order: 1;
        padding: 0;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .card-populaires-wrapper
    {
        margin-bottom: 20px;
    }

    .populaires-head
    {
        display: flex;
        justify-content: space-between;
    }

    .card-populaires
    {
        background: white;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
    }


    .card-populaires__image
    {
        border-top: 7px white solid;
        border-left: 7px white solid;
        border-bottom: 7px white solid;

        
        max-width: 40%;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-items: center;

        border-radius: 25px 0 0 25px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        box-sizing: border-box; /*le width: 100% est juste sur la boite (sans les bordures...)*/
    }

    .card-populaires__image img
    {
        width: 100%;
        height: auto;
        object-fit: cover; /*défini comment l'objet rempli son parent*/
    }


    .textedroit-media
    {
        padding: 10px;
    }

    #activités
    {
    padding: 40px 20px 20px 20px;
    width: 100%;
    }


    .cards-activités
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin: 0;
    }

    .card-activités-wrapper
    {
        width: 100%;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    .card-activités
        {   
        width: 100%;
    

        background: white;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        }

    .card-activités-small
    {
        width: 100%;

        background: white;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }

    #Afficher-plus
{
    padding-top: 20px;
}

/* Footer */
    .size-footer
    {
        flex-wrap: wrap;
        width: 100%;
        padding-top: 20px;
    }

    #A-propos
    {
        width: 100%;
        padding: 20px;
        margin-left: 0;
    }

    #Nos-hébergements
    {
        width: 100%;
        padding: 20px;
    }

    #Assistance
    {
        width: 100%;
        padding: 20px;
    }

}